[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/meeymirita/rabbitmq-lab.git
[submodule "redis"]
	path = redis
	url = https://github.com/meeymirita/redis-lab.git
[submodule "traefik"]
	path = traefik
	url = https://github.com/meeymirita/traefik-lab.git
[submodule "php-coffee"]
	path = php-coffee
	url = https://github.com/meeymirita/oop-lab.git
[submodule "vue"]
	path = vue
	url = https://github.com/meeymirita/vue-lab.git
[submodule "typescript"]
	path = typescript
	url = https://github.com/meeymirita/typescript-lab.git
[submodule "laravel"]
	path = laravel
	url = https://github.com/meeymirita/laravel-lab.git
[submodule "docker"]
	path = docker
	url = https://github.com/meeymirita/docker-lab.git
[submodule "works"]
	path = works
	url = https://github.com/meeymirita/works-lab.git
[submodule "php"]
	path = php
	url = https://github.com/meeymirita/php-lab.git
[submodule "js"]
	path = js
	url = https://github.com/meeymirita/js-lab.git
